
nav.navbar {
    height: 100px;
    margin-bottom: 20px;
}

a.navbar-brand {
    font-size: 30px;
}



li {
    list-style: none;
}


li.nav-item {
    font-size: 20px; 
    word-break: keep-all;     
}



a.navbar-brand:hover{
    color: white;
    font-weight: bold
}


h1 {
    margin-top: 20px;
    margin-bottom: 20px;
}
